

.is_private {
    color: rgb(192, 0, 0);
}

.flex {
    display: flex;
    
}

.info {
    margin-top: auto;
    margin-bottom: auto;
}

.thumbnail {
    position: relative;
    height: 150px;
    min-width: 150px;
    width: max-content;
    object-fit: cover;
    object-position: 25% 25%; 
}

.thumbnail_container {
    margin: auto 2px auto auto;
}

@media screen and ((max-width: 1000px) or (orientation: portrait)) {
    .thumbnail {
        display: none;
    } 
}