.main {
    background: rgb(232, 232, 232);
    padding: 4px 8px;
    font-size: small;
    border-radius: 2px;
    margin-right: 3px;
    width: fit-content;
    line-height: 1.2;
}

.hoverbox:hover {
    background: rgb(220, 220, 220);
    transition: 0.15s;
}