.main {
  width: 100%;
  background: rgb(247, 247, 247);
  display: flex;
  border-bottom: solid 0.8mm rgb(220, 220, 220);
  border-radius: 1mm;
}

.tab_container {
  font-size: 4mm;
  display: flex;
}

.tab {
  padding-right: 7mm;
  padding-left: 7mm;
  display: flex;
  align-items: center;
  height: 3.5em;
}

.tab img{
  height: 1.5em;
}

.tab:hover {
  background: rgb(236, 236, 236);
  transition: 0.15s;
}

.logo {
  font-size: 6mm;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.logo:hover {
  background: rgb(236, 236, 236);
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 4vw;
    padding: auto;
  }
}

.login-box {
  display: flex;
  line-height: 2.5;
  font-size: large;
}
