.main {
  width: 100%;
  background: rgb(247, 247, 247);
  display: flex;
  border-bottom: solid 1mm rgb(220, 220, 220);
  border-radius: 1mm;
}

.tab_container {
  font-size: 5mm;
  display: flex;
}

.tab {
  padding: 5.5mm 7mm;
}

.tab:hover {
  background: rgb(236, 236, 236);
  transition: 0.15s;
}

.logo {
  font-size: 7mm;
  font-weight: bold;
  padding: 4mm 7mm;
  flex-wrap: nowrap;
}

.logo:hover {
  background: rgb(236, 236, 236);
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 4vw;
    padding: auto;
  }
}

.login-box {
  display: flex;
  line-height: 2.5;
  font-size: large;
}
