.main {
    width: 100%;
    background: rgb(247, 247, 247);
  
    border-bottom: solid 1mm rgb(220, 220, 220);
    border-radius: 1mm;
}

.tab_container {
    font-size: 4mm;
    display: flex;
    overflow-x: scroll;
}

.tab {
    padding-right: 7mm;
    padding-left: 7mm;
    display: flex;
    align-items: center;
    height: 3.5em;
}

.tab img{
    width: 1.5em;
    min-width: 1.5em;
}

.tab:hover {
    background: rgb(236, 236, 236);
    transition: 0.15s;
}

.logo {
    flex-wrap: nowrap;
    font-size: 6mm;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.logo:hover {
    background: rgb(236, 236, 236);
}

.login-box {
    display: flex;
    line-height: 2.5;
    font-size: large;
}

@media screen and (max-width: 800px) {

    .tab_container {
        font-size: 4mm;
    }

    .tab {
        padding-right: 5mm;
        padding-left: 5mm;
    }

    .logo {
        font-size: 5mm;
    }

    .login-box {
        font-size: medium;
    }
}