.main {
    margin: 1em auto;
    padding: 1em 1em 1em 2em;
    border: solid 2px rgb(210, 210, 210);
    border-radius: 7px;
    box-shadow: 5px 5px rgb(238, 238, 238);
    font-size: smaller;
    max-width: 55em;
    line-height: 1.1;
}

.main:hover {
    border-color: rgb(125, 160, 115);
    background: rgb(247, 247, 247);
    transition: 0.15s;
}