.main {
    margin: 10px 0;
    padding: 5px 10px 15px 40px;
    border-bottom: solid 1px rgb(213, 213, 213);
    
    line-height: 1.2;
}

.main:hover {
    border-color: rgb(125, 160, 115);
    background: rgb(247, 247, 247);
    transition: 0.15s;
}