.main {
  display: flex;
  flex-wrap: wrap;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.image {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .image {
    display: none;
  } 
}
