.header {
    margin-bottom: 5vh;
    padding: 5vh 0;
    line-height: 1;
    border-bottom: solid 0.3mm rgb(213, 213, 213);
}

.credit {
    font-size: small;
}

.subtitle {
    font-size: large;
    font-weight: normal;
}
