.main {
    margin: 2vh auto;
    max-width: 1000px;
    padding: 12mm;
    border-radius: 10mm;
    line-height: 2;
    box-shadow: 1mm 1mm rgb(220, 220, 220);
    background-color: rgb(252, 252, 252);
    border-width: 50mm 50mm 50mm 50mm;
}

.main h1 {
    font-size: 1.8em;
}

.main h2 {
    font-size: 1.2em;
}

.main img {
    border-radius: 1mm;
}

.copyright {
    font-size: 0.8em;
    color: rgb(150, 150, 150);
    text-align: center;
    margin-top: 3em;
}

@media screen and (max-width: 800px) {
    .main {
        width: inherit;
        min-width: 0px;
        margin: 0;
        padding: 5mm 6vw;
        padding-bottom: 2em;
        border-radius: 3mm;
    }
}