
.main {
    margin: auto;
    width: 100%;
    min-width: 500px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    line-height: 1.1;
    font-weight: bold;
    color: rgb(120, 220, 120);
    padding: 30px 60px;
}

.container {
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(120, 200, 120);
    white-space: pre;
    overflow-x: auto;
}

.link {
    text-decoration: underline;
    color: inherit;
}

@media screen and ((max-width: 1000px) or (orientation: portrait)) {
    .main {
        width: inherit;
        min-width: 0px;
        margin: 0;
    }

    .container {
        min-width: 0px;
        padding: 0;
        margin: 0%;
    }
}
  