
.skilltable {
    display: flex;
    flex-wrap: wrap;
}

.award {
    color: rgb(134, 134, 134);
    font-size: small;
    margin-bottom: 1em;
}

.flex {
    display: flex;
}

.info {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2em;
}

.thumbnail {
    position: relative;
    height: 120px;
    width: 200px;
    min-width: 200px;
    object-fit: cover;
    object-position: 25% 25%; 
}

.thumbnail_container {
    height: 100%;
    width: auto;
    margin: auto 2px auto auto;
}

@media screen and ((max-width: 1000px) or (orientation: portrait)) {
    .thumbnail {
        display: none;
    } 
}
