.main {
    display: flex;
}

.unit {
    background: rgb(232, 232, 232);
    padding: 1mm 2mm;
    margin: 2mm 2mm 2mm 0;
    border-radius: 2mm;
    font-size: small;
    align-items: flex-end;
    line-height: 1;
}

.unit:hover {
    background: rgb(213, 213, 213);
    transition: 0.15s;
}
