.main {
    line-height: 2;
    box-shadow: 3px 3px rgb(220, 220, 220);
    background-color: rgb(252, 252, 252);
    border-width: 150px;
    padding: 3em 8em 6em 8em;
    margin: 10px auto;
    border-radius: 20px;
}

.main h1 {
    font-size: 1.8em;
}

.main h2 {
    font-size: 1.2em;
}

.main img {
    border-radius: 3px;
}

@media screen and ((max-width: 1000px) or (orientation: portrait)) {
    .main {
        width: inherit;
        min-width: 0px;
        margin: 0;
        padding: 15px 6vw;
        padding-bottom: 2em;
        border-radius: 6px;
    }
}