body {
  margin: 0;
  font-family: "M PLUS 1", sans-serif;
  background: rgb(247, 247, 247);
  color: rgb(57, 57, 57);
}

button {
  color: rgb(57, 57, 57);
  background: rgb(232, 232, 232);
  font-size: normal;
  font-weight: normal;
  padding: 2mm 4mm;
  border-radius: 1mm;
  border: 0;
}

button:hover {
  background: rgb(197, 197, 197);
  transition: 0.15s;
}

img {
  max-width: 100%;
}
