
.main {
    margin: auto;
    width: 100%;
    min-width: 500px;
    padding-bottom: 8mm;
    line-height: 1.35;
    box-shadow: 0mm 2mm rgb(220, 220, 220);
    font-family: monospace;
    background-color: rgb(70, 70, 70);

    border-top: 5mm solid rgb(60, 60, 60);
    color: rgb(130, 200, 120);
    font-weight: bolder;
}

.container {
    margin: 0% 20%;
    padding: 2mm 0mm;
    min-width: 500px;
    white-space: pre;
    overflow-x: auto;
}


@media screen and (max-width: 800px) {
    .main {
        width: inherit;
        min-width: 0px;
        margin: 0;
        padding: 5mm 6vw;
    }

    .container {
        min-width: 0px;
        padding: 0mm;
        margin: 0%;
    }
}
  